<!doctype html>
<html lang="eng">
<head>
    <title>vlg_place</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
<div class="container">
         <div class="hamburger"><img src="/static/images/icons/hamburger.svg" alt=""></div>
        <div class="mobile-topnav">
            <a href="/">ГЛАВНАЯ</a>
            <a href="/#about">О НАС</a>
            <a href="/#gallery">ГАЛЕРЕЯ</a>
            <a href="/#news">НОВОСТИ</a>
            <a href="/#contacts">КОНТАКТЫ</a>
        </div>

        <header>
            <nav>
                <div class="topnav" id="myTopnav">
                    <a href="/">ГЛАВНАЯ</a>
                    <a href="/#about">О НАС</a>
                    <a href="/#gallery">ГАЛЕРЕЯ</a>
                    <a href="/#news">НОВОСТИ</a>
                    <a href="/#contacts">КОНТАКТЫ</a>
                </div>
                <% if(!locals.isAuth) { %>
                <div class="auth_icon">
                    <a href="#popup-auth" class="js-popup-open"><img src="/static/images/icons/enter.svg" height="35px"
                                                                     width="35px" alt="authorization_icon"
                                                                     title="Авторизоваться"></a>
                </div>
                <div id="status"></div>
                <% } else { %>
                <div class="icForRegistrUsers">
                    <a href="/profile"><img src="/static/images/icons/avatar.svg" height="35px" width="35px"
                                            alt="avatar_icon" title="Перейти в профиль"></a>
                    <a href="/logout" class="btn btn-logout">Выйти</a>
                </div>
                <% } %>
                <br class="clear">
            </nav>
        </header>
    <main>
        <% if (locals.photo) { %>
            <div class="sight-photo__header"><h2><%= photo.titlePhoto %></h2></div>
            <div class="sight-photo__header-info">
                <div class="sight-photo__uploaded-info">
                    <div class="sight-photo__uploaded">
                        <span>Загружена:</span>
                        <b><%= photo.createdAt%></b>
                    </div>
                    <div class="sight-photo__author">
                        <span>Автор:</span>
                        <b><%= locals.photo.author %></b>
                    </div>
                    <div class="sight-photo__keywords">
                        <span>Ключевые слова:</span>
                        <div class="kwPhoto">
                            <b>
                                <% if (photo.kwPhoto.length) { %>
                                <% for(var i = 0; i < photo.kwPhoto.length; i++) { %>
                                <a class="key_words" href=""><%= photo.kwPhoto[i] %></a>
                                <% } %>
                                <% } %>
                            </b>
                        </div>
                    </div>
                </div>
                <div class="sight-photo__rating">
                    <div class="sight-overall__rating">
                   <span> Рейтинг:
                      <div class="rating-count">
                          <input id="c1" type="radio" name="rating" value="1" required>
                          <label for="c1">1</label>
                          <input id="c2" type="radio" name="rating" value="2">
                          <label for="c2">2</label>
                          <input id="c3" type="radio" name="rating" value="3">
                          <label for="c3">3</label>
                          <input id="c4" type="radio" name="rating" value="4">
                          <label for="c4">4</label>
                          <input id="c5" type="radio" name="rating" value="5">
                          <label for="c5">5</label>
                      </div>
                   </span>
                    </div>
                </div>
            </div>
            <div class="sight-photo" style="background-image: url(<%= photo.medium %>);">
                <a class="sight-photo__marks" href="#">ОТМЕТКИ НА ФОТО</a>
                <div class="sight-photo__info-more js-photo-info-more">Показать информацию о снимке</div>
                <div class="sight-photo__info js-photo-info">
                    <div class="sight-photo__info-content">
                        <div class="photo-info">
                            <div class="photo-info__column">
                                <div class="photo-info__item">
                                    <div class="photo-info__item-title">Дата съемки:</div>
                                    <div class="photo-info__item-desc"><%= photo.datePhoto %></div>
                                </div>
                                <div class="photo-info__item">
                                    <div class="photo-info__item-title">Категория:</div>
                                    <div class="photo-info__item-desc">Памятники</div>
                                </div>
                            </div>
                            <div class="photo-info__column">
                                <div class="photo-info__item">
                                    <div class="photo-info__item-title">EXIF-данные:</div>
                                    <div class="photo-info__item-desc">данные</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sight-photo__link"><a href="sight-over.html">Подробнее о достопримечательности...</a></div>
            <div class="sight-photo__map-container">
                <h2>ОТКУДА СДЕЛАН СНИМОК</h2>
                <div class="sight-photo__map">
                    <div id="mapPhoto"></div>
                </div>
            </div>
        <% } %>
            <div class="sight-photo__comments-container">
                <h4>Комментарии</h4>
                <ul id="comments-list" class="comments-list">
                    <li>
                        <div class="comment-main-level">
                            <div class="comment-avatar">
                                <img src="/icons/avatar.svg" alt="">
                            </div>
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author">
                                        <a href="#">Иван Иванов</a>
                                    </h6>
                                    <span>месяц назад</span>
                                    <div class="comment-like"><img src=""></div>
                                    <div class="comment-reply"><img src=""></div>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>

                            </div>
                        </div>
                        <ul class="comment-list reply-list">
                            <li>
                                <div class="comment-avatar">
                                    <img src="/icons/avatar.svg" alt="">
                                </div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name">
                                            <a href="#">Иван Иванов</a>
                                        </h6>
                                        <span>месяц назад</span>
                                        <div class="comment-like"><img src=""></div>
                                        <div class="comment-reply"><img src=""></div>
                                    </div>
                                    <div class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="comment-avatar">
                                    <img src="/icons/avatar.svg" alt="">
                                </div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name">
                                            <a href="#">Иван Иванов</a>
                                        </h6>
                                        <span>месяц назад</span>
                                        <div class="comment-like"><img src=""></div>
                                        <div class="comment-reply"><img src=""></div>
                                    </div>
                                    <div class="comment-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </li>



                    <div class="comment-avatar">
                        <img src="/icons/avatar.svg" alt="">
                    </div>
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author">
                                <a href="#">Иван Иванов</a>
                            </h6>
                            <span>месяц назад</span>
                            <div class="comment-like"><img src=""></div>
                            <div class="comment-reply"><img src=""></div>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>

                    </div>
                </ul>
            </div>
        </main>
</div>
    <footer>
        Vlg_place &copy; 2017
    </footer>
    <script src="/static/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/static/javascripts/scripts.js"></script>
    <script src="/static/javascripts/gallery-button.js"></script>
    <script src="/static/javascripts/modalWindow.js"></script>

<!--КАРТА-->
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('mapPhoto'),{
            zoom: 10,
            center: new google.maps.LatLng(48.42216, 44.31308)
        });

        var marker = new google.maps.Marker({
            //TODO координаты конкретрной достопрмиечательности
            position: {lat: 48.42216, lng: 44.31308},
            map: map
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnH8mcza_4bepKeNRWxTR_02l-PB6bhw&callback=initMap">
</script>
</body>
</html>